@import "src/shared/styles/mixins";

.inputFile {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.uploadIcon {
  width: 80px;
  height: auto;

  @include media("max", "sm") {
    display: none;
  }
}

.wrapInputText {
  width: 250px;

  .firstText {
    content: "ljhto";
  }
}
