.wrapDragger {
  width: 100%;
  height: 180px;

  /* border-radius: 15px;
  border: 1.5px dashed #e4e4e4;

  background: #fafafa;

  display: flex;
  justify-content: center;
  gap: 50px;

  &:hover {
    border-color: #6c9eff;
  }
  .wrapContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  .wrapContent {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .inputFile {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.wrapLoadedSection {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  
  .wrapFileName {
    width: 100%;
    height: 100%;
    background: #fafafa;
    display: flex;
    align-items: center;
    padding: 34px;
    border-radius: 8px;
    justify-content: space-between;
  }
}
